
@mixin flexCenter{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}
section.headerSect{
    position: fixed;
    z-index: 99999;
    width: 100%;
}
header{
    height: 70px;
    background:white;
    width: 100%;

    
    .cart{
        max-width: 35px;
    }
    .activeNav{
        font-weight: 600;
    }
    ul.onleftLogo{
        display:flex;
        list-style-type:none;
    }
    li{
        margin:0 10px;
    }
    .onrightLogo{
        align-items: center;
        display: flex;
        .onrightLogoItems{
            margin:0 15px;
        }
    }
    
    .currency{
        position: relative;
        .usLogoCurrency{
            position: absolute;
            left: 5px;
            top:5px;
            display: flex;
            align-items: center;
        }
        margin-right: 15px;
    }

    

    @include flexCenter();
}

// gray area under header
.underHeader{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}
.uheaderitem{
    display: flex;
    align-items: center;
    img{
        margin-right: 15px;
    }
}