@mixin flexCenter{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
}

@mixin absoluteMid{
    left: 50%;
    transform: translateX(-50%);
}
.siteWide{
    @include flexCenter();
    max-height: 150px;
    height: 150px;
    width: 85%;
    margin: 0 auto;
    .siteWideItem{
        font-weight: 600;
        font-size:32px;
        span{
            font-size: 18px;
            font-weight: 800;
        }
        .blackbtn{
            font-size: 18px;
            font-weight: 600;
            background-color: black;
            color: white;
            border: none;
            padding:9px 20px;
            max-height: 42px;
            max-width: 363px;
        }
            
    }
    .siteWideItemDetail{
        font-size: $baseFontSize;
        font-weight: $baseFontWeight;
    }
    
}


.blackFriday{
    @include flexCenter();
    background:url('../images/blackfriday-bg.png');
    height: 75px;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    
    .blockset.a{
        font-weight: 800;
        font-size:32px;
    }
    .blockset.b{
        text-align:left;
        max-width:354px;
        font-size:18px;
        font-weight: 600;
    }
    .blockset.c{
        button{
            background:white;
            height: 42px;
            width: 149px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    
}

.pageContent{
    text-align: center;
    margin-top:80px;
    h1{
        font-weight: 800;
        font-size:36px;
        text-align: center;
    }
    .allCards{
        @include flexCenter();
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top:35px;
    }
    .cardItemImage{
        display: block;
    }
    .cardItem span{
        font-size: 24px;
        font-weight:600;
        line-height: 3.5rem;
    }
}

.hashtagslist{
    @include flexCenter();
    justify-content: space-around;
    margin:20px 120px;
    .hashtagItem{
        border: 1.5px solid black;
        padding: 8px 20px;
        border-radius:  25px;
        font-weight: 600;
    }
}
.newsCard{
    position: relative;
    margin-top:50px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    .cardimagemerge{
        width: 100%;
    }
    .a, .b, .newsContent{
        @include absoluteMid();
        z-index: 2;
        bottom: 0;
    }
    .a{
        left:23%;
    }
    .b{
        left:44.3%
    }
    .newsContent{
        z-index: 3;
        position: absolute;
        color: white;
        left: 75%;
        top:15%;

        h1{
            font-size: 86px;
            font-weight: 700;
        }
        span{
            font-size: 25px;
            font-weight: 600;
        }
        button{
            background:white;
            padding: 10px 35px;
            margin-top:25px;
            font-weight: 600;
        }
    }

}

.recently{
    padding: 0 50px;

    span{
        font-weight: $baseFontWeight!important;
        font-size: $baseFontSize!important;
    }
    .cardlist{
        max-width: 225px;
        text-align: left!important;
    }
    .cardItem span{
        line-height: 0!important;
    }
    .allCards{
        align-items: flex-start;
    }
}

