@import './header';
@import './variables';
@import './homeContent';




body{
    font-family: $baseFont;
    color:$baseFontColor;
    font-size: $baseFontSize;
    font-weight: $baseFontWeight;
}
dl, ol, ul{
    margin-top:revert!important;
}
.carousel-control-prev, .carousel-control-next, .carousel-indicators{
    opacity: 0!important;
}
button{
    background:unset;
    border:none;
}