@import './header';
@import './variables';
@import './homeContent';
@import './baseCart';
@import './footerSection';


@mixin absoluteMid{
    left: 50%;
    transform: translateX(-50%);
}

// max widths
.mw-1440{
    max-width: $mw-1440;
}
.mw-640{
    max-width: 640px;
}
.headersect{
    z-index: 999999;
}
.sliderSect{
    padding-top:120px;
    position: relative;
}
// button behavior
.btnize:hover{
    background:rgb(226, 226, 226)!important;
    cursor:pointer;
}
.blackbtn:hover{
    cursor: pointer;
    background:rgb(26, 26, 26)!important;
}
.herobtn button{
    @include absoluteMid();
    background:white;
    padding:8px 25px;
    position: absolute;
    bottom: 100px;
    left: 75%;
    max-width: 278px;
    font-size: 36px;
    font-weight: 600;
    filter: drop-shadow(0px 4px 4px gray);
}
div:nth-child(4) > div.cardPricing > span.slashedPrice,
div:nth-child(1) > div.cardPricing > span.slashedPrice{
    visibility: hidden;
}

// base Body
body{
    font-family: $baseFont;
    color:$baseFontColor;
    font-size: $baseFontSize;
    font-weight: $baseFontWeight;
}
dl, ol, ul{
    margin-top:revert!important;
}

// custom adjustments
.carousel-control-prev, .carousel-control-next, .carousel-indicators{
    opacity: 0!important;
}
button{
    background:unset;
    border:none;
}
.checkout{
    padding: 174px 0px;
    h1{
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
    }
}


